
      #form {
	margin-top:20px;
	border:2px solid #fff;
	font-size:20px;
	border-radius: 10px;
	padding-top:5px;
	padding-bottom:6px;
      }

      #container {
            position: absolute;
            width: 345px;
            height: 195px;
            top: 50%;
            left: 50%;
            margin-top: -140px;
            margin-left: -170px;
            background: #b52530;
            border-radius: 10px;
            border-style: double ;
            border-width:2px;
            border-color:#cba;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1);

        }
        form {
            margin: 0 auto;
            margin-top: 20px;
            text-align:center;
        }
        label {
            color: #505;
            display: inline-block;
            margin-left: 18px;
            padding-top: 10px;
            font-size: 18px;
        }
        input {
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            font-size: 12px;
            outline: none;
        }
        input[type=text] {
            color: #777;
            padding-left: 10px;
            margin: 10px;
            margin-top: 12px;
            margin-left: 18px;
            width: 290px;
            height: 35px;
            border: 1px solid #c7d0d2;
            border-radius: 2px;
            box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
            text-align:center;
            transition-duration: 0.3s;
	    transition-property: transform;
	    transform: translateZ(0px);
            }
        input[type=text]:hover {
            border: 1px solid #b6bfc0;
            box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
            transform: scale(1.1);
            
        }
        input[type=text]:focus {
            border: 1px solid #a8c9e4;
            box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
        }
        #lower {
            background: #ABC343;
            width: 100%;
            height: 69px;
            margin-top: 20px;
              box-shadow: inset 0 1px 1px #fff;
            border-top: 1px solid #ccc;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            color:#901;
        }
        
        .check {
            margin-left: 3px;
            font-size: 17px;
            color: #901;
            text-shadow: 0 1px 0 #fff;
        }
        input[type=submit] {
            margin-right: auto;
            margin-left: auto;
            margin-top: 10px;
            width: 140px;
            height: 40px;
            font-size: 14px;
            font-weight: bold;
            color: #df1;
            background-color: #e88f33; /*IE fallback*/
            border-radius: 30px;
            border: 1px solid #66add6;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
            cursor: pointer;
        }
        input[type=submit]:hover {
        }
        input[type=submit]:active {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
            background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
            background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
        }
        
        #ISBNlbl {
	    font-size: 20px;
	    font-weight:bold;
	    font-family:sans-serif;
        }